@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 1px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #999; /* Scrollbar color */
    border-radius: 5px;
    display: none;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
    display: none !important;
  }
  
  /* Firefox */
  .custom-scrollbar {
    scrollbar-width: 5px !important;
   
  }

  input:-internal-autofill-selected {
    background-color: white !important;;
  }

  /* Custom Dropdown Options Styling */
.custom-dropdown option {
  background: white !important;
  color: black;
  padding: 10px;
  font-size: 16px;
}

/* Hover & Focus Effects */
.custom-dropdown option:hover {
  background: #f3f4f6; /* Light gray on hover */
}

/* Selected Option Styling */
.custom-dropdown option:checked {
  background: white !important; /* Slightly darker background for selected */
}
